<!DOCTYPE html>
<html>
    <head>
        <title>Selected Data</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <h1>Selected Data</h1>
        <table>
            <thead>
                <tr>
                    <th>Run name</th>
                    <th>Experiment ID</th>
                    <th>Run ID</th>
                    <th>Created by</th>
                    <th>MAE</th>
                </tr>
            </thead>
            <tbody>
                {% if selected_items %}
                    {% for item in selected_items %}
                    <tr>
                        <td>{{ item.run_name }}</td>
                        <td>{{ item.experiment_id }}</td>
                        <td>{{ item.run_id }}</td>
                        <td>{{ item.created_by }}</td>
                        <td>{{ item.mae }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No rows selected.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </body>
</html>
